# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.log

# Android
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
**/android/key.properties
**/*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Pub
.pub-cache/
.pub/
pubspec.lock
